<ion-menu [content]="content">

  <ion-content>
    <img src="../assets/images/logo.jpg">
    <hr>
    <ion-list class="item">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon class="menu-icon" name="{{ p.icon }}"></ion-icon>
        {{p.title}}
      </button>
      <button menuClose ion-item  *ngIf="currentUser" (click)="logOut()">
        <ion-icon class="menu-icon" name="person"></ion-icon>
        Log Out
      </button>
      <button menuClose ion-item  *ngIf="!currentUser" (click)="logIn()">
        <ion-icon class="menu-icon" name="person"></ion-icon>
        Log In
      </button>
    </ion-list>
    <button menuClose ion-item class="user" *ngIf="currentUser">
      {{currentUser.email}}
    </button>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
